@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.boxMaster {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.menuItem {
  border-radius: 0;
  display: flex;
  width: 240px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 auto;
  font-family: "Montserrat", sans-serif;
}

.linkFull {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid transparent;
  flex-direction: column;
  margin: 0 auto;
  color: #fff;
  .MuiTypography-root {
    font-family: "Montserrat", sans-serif;
  }
}

.linkFull:hover {
  color: var(--red, #d32f2f);
}

.activeLink {
  height: 50px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--red, #d32f2f);
  color: black;
}

.activeLink:hover {
  color: white;
}

.boxLogo {
  width: 100;
  display: flex;
  margin-top: 20px;
  margin-bottom: 16px;
  align-items: center;
  justify-content: center;
}
