.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 36px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 100%;
  font-family: "Inter";
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  letter-spacing: -0.02em;
}

.infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 48px;
  width: 100%;
}

.marketItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 100%;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  border-radius: 8px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.itemName {
  width: 100%;
  font-family: "MontSerrat";
  font-weight: 500;
  font-size: 40px;
}

.description {
  width: 100%;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #a1a3a7;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  align-self: start;
  color: #ffffff;
  width: 180px;
  height: 30px;
}

.sold {
  background: #d32f2f;
}

.available {
  background: #75767d;
}

.price {
  width: 100%;
  font-family: "Inter";
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #a1a3a7;
}

.buyButton {
  background: #d32f2f;
  color: white;
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 15px 30px;
  border: none;
  align-self: flex-start;
  border-radius: 42px;
  cursor: pointer;
  margin-top: 10px;

  &:hover {
    background: #9e0404;
  }
}

.infoRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  width: 100%;
  gap: 16px;
}

.infoSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
  width: 100%;
}

.infoTitle {
  width: 100%;
  font-family: "Inter";
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.03em;
}

.userInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 16px;
  width: 100%;
}

.userImage {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #d32f2f;
  cursor: pointer;
}

.userDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
}

.userName {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.userTime {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 6px;
}

.date {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #75767d;
}

@media (max-width: 768px) {
  .title {
    font-size: 24px;
    line-height: 32px;
  }

  .imageContainer {
    height: 300px;
  }

  .image {
    height: 300px;
  }

  .itemName {
    font-size: 24px;
  }

  .description {
    font-size: 14px;
  }

  .price {
    font-size: 18px;
  }

  .buyButton {
    font-size: 16px;
    padding: 10px 20px;
  }

  .infoRow {
    flex-direction: column;
    gap: 24px;
  }

  .userImage {
    width: 32px;
    height: 32px;
  }

  .status {
    font-size: 14px;
    line-height: 24px;
    width: auto;
    height: auto;
    padding: 8px 12px;
  }
}
