.posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding-bottom: 20px;
}

.noPostsMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #a1a3a7;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
}

.post {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 24px;
  gap: 16px;
  width: 100%;
  border-radius: 16px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.frame1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.userIcons {
  width: 32px;
  height: 32px;
}

.userIcons img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.postHeader {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.postOptions {
  position: absolute;
  top: 16px;
  right: 16px;
}

.postAuthor {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.postTimeLocation {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #757575;
}

.postLocation {
  font-weight: 700;
}

.oQueVoceEstaPensando {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.unsplash {
  width: 100%;
  height: 500px;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomFields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.likeButton,
.commentsButton,
.shareButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.vector {
  width: 16px;
  height: 16px;
}

.curtiu,
.comentarios,
.compartilhar {
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #757575;
}

.frame10 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 6px;
  background: #e0e0e0;
  border-radius: 50%;
}

.likesCount,
.commentsCount {
  font-weight: 400;
  font-size: 11px;
  line-height: 10px;
  color: #ffffff;
}

.showMoreButton {
  margin: 16px auto;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.showMoreButton:hover {
  background-color: #1565c0;
}

.likedText {
  color: #d32f2f;
}

.likedCounter {
  background-color: #d32f2f;
  color: #ffffff;
}

@media (max-width: 900px) {
  .unsplash {
    height: 300px;
  }
  .postTimeLocation {
    font-size: 10px;
  }
  .postAuthor {
    font-size: 13px;
  }
}
