.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 20px;
  width: 100%;
  border-radius: 16px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  width: 100%;
  cursor: pointer;
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.icon {
  font-size: 18px;
}

.friendList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10px;
  padding-bottom: 0px;
  gap: 24px;
  width: 100%;
  max-height: 220px;
  overflow-y: auto;
  scrollbar-width: none;
}

.friendList::-webkit-scrollbar {
  display: none;
}

.friendItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 100%;
  height: 32px;
}

.avatar {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.friendName {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
