.boxMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.boxUser {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
}
