.registerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.registerForm {
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.registerTitle {
  flex: 1;
  text-align: center;
  margin: 0;
  color: #333;
}

.inputField {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.registerButton {
  width: 95%;
  margin-top: 1rem;
  font-weight: bold;
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.loginLink {
  color: #d32f2f;
  margin-left: 0.5rem;
}
