@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%; // Define a altura para 100% da janela do navegador
  overflow: hidden; // Esconde o scroll
}

html {
  margin: 0;
  padding: 0;
  height: 100%; // Define a altura para 100% da janela do navegador
  overflow: hidden; // Esconde o scroll
}
