.formEditContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.formEditTitle {
  flex: 1;
  text-align: center;
  margin: 0;
  margin-top: -20px;
  margin-bottom: -20px;
  color: #333;
}

.inputField {
  width: 100%;
  text-align: start;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.imageUploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.uploadButton {
  margin-bottom: 1rem;
}

.imagePreviewContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagePreview {
  max-width: 100%;
  max-height: 200px;
  border-radius: 8px;
}

.removeImageButton {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.removeImageIcon {
  font-size: 24px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-left: 1.5%;
  width: 97%;
  margin-top: 1rem;
}

.formEditButton {
  width: 48%;
  font-weight: bold;
}
