.formEditContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  overflow: hidden;
}

.formEditForm {
  overflow-y: scroll;
  max-height: 90vh;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  box-sizing: border-box;
}

.formEditForm::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.formEditForm {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.formEditTitle {
  flex: 1;
  text-align: center;
  margin: 0;
  margin-top: -20px;
  margin-bottom: -20px;
  color: #333;
}

.inputField {
  width: 100%;
  text-align: start;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.imageUploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.uploadButton {
  margin-bottom: 1rem;
  font-weight: bold;
}

.imagePreviewContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagePreview {
  max-width: 100%;
  max-height: 150px;
  border-radius: 8px;
}

.removeImageButton {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.removeImageIcon {
  font-size: 16px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.formEditButton {
  width: 48%;
  font-weight: bold;
}

@media (max-width: 768px) {
  .inputField {
    width: 100%;
  }

  .formEditButton {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .buttonContainer {
    flex-direction: column;
    align-items: center;
  }

  .formEditForm {
    max-height: 70vh;
  }
}
