.boxMaster {
  height: 100vh;
  overflow: auto;
}

.nav {
  height: 70px;
  padding-top: 4px;
}

.boxMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.boxUser {
  display: flex;
  align-items: center;
}

.boxContent {
  padding-top: 90px;
  padding-right: 16.5px;
  max-width: 100%;
  overflow-x: hidden;
  word-break: break-all;
}

.typoName {
  margin: 0 8px;
}

.avatarStyle {
  border: 1px solid #d32f2f;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
}
